
body{
    background:#faf5da;

}


.container{
    background-color: #f5efcb;
    width: 1000px;
    margin: 16px auto;
    padding: 8px;
   
    font-size: 20px;

}

h1{
   
    background: #ebe1a3;
    text-align: center;
    margin: 8px;
    padding: 16px;
    
}

h2{
   
    background:#ebe1a3;
    text-align: center;
    padding :6px ;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    


}

ul ,
ol{
    font-size: 20px;
    margin: 8px;
    text-align: center;
   

}

h2{

    
    color: tomato;
}

p{
    margin:0px auto;
   

}

li{
   
    color: tomato;

}

a{
color: tomato;

}