
body{
background:#faf5da;

}

.container{
    background: #f3eecf;
    width: 600px;
    margin: 24px auto;
    padding: 8px;
   

   
}

h1{
    

    margin: 8px;
    padding: 8px ;
    text-align: center;
    background: #ebe1a3;
    
}


img{

    width: 50%;
    height: 300px;
    display: block;
    margin: 8px auto ;
    
    

}
ul ,
ol{
    color: #e4d355 ;
    
    margin: 8px;

}


li{
    background-color:#f1e7a0 ;
    color: #dac844 ;
    text-align: center;
    padding: 4px ;
    margin: 4px;
}

a{
    font-size: 18px;

}
